@model RetrospectiveGame.Logic.ICharacter

<table>
    <tr><th>Character Stats</th></tr>
    <tr><td>Name: </td><td>@Model.Name</td></tr>
    <tr><td>Life: </td><<td>@Model.Life</td></tr>
    <tr><td>Constitution: </td><td>@Model.Constitution</td></tr>
    <tr><td>Strength: </td><td>@Model.Strength</td></tr>
    <tr><td>Modifier</td><td>@Model.Modifier</td></tr>
</table>
<br />
